.intro1 {
    
    &__info {
        position: absolute;
        top: rem(515);
        left: rem(340);
    }
    
    &__title {
        margin: 0;
        font-family: $font-2;
        font-size: rem(375);
        font-weight: 700;
        line-height: 1;
        letter-spacing: rem(-9);
        color: #38a5e4;
    }
    
    &__subtitle {
        margin-top: rem(-1);
        margin-left: rem(14);
        font-family: $font-2;
        font-size: rem(95);
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: rem(-2);
        color: #5e7080;
    }
    
    &__text {
        margin-top: rem(21);
        margin-left: rem(25);
        width: rem(400);
        font-size: rem(34);
        line-height: (48/34);
        letter-spacing: rem(-0.5);
        color: #5e7080;
    }
}
