mixin intro2(data)
    +b.intro2.slide
        +e.info._1
            +e.H2.title Инновационная система распыления
            +e.text._1
                | Микродиффузионная система распыления обеспечивает глубокое и мягкое орошение слизистой
                | оболочки носа, что способствует эффективному воздействию микроэлементов.

        +e.info._2
            +e.H2.title Действие препарата
            +e.text._2
                | За один впрыск множество микрокапель морской воды мягко распределяются по всей полости
                | носа и эффективно очищают его от слизи, не оставив незамеченным ни один участок.
